@using TodoModule.Web.Navigation
@model Abp.Application.Services.Dto.PagedResultDto<TodoModule.Todos.Dto.TodoItemDto>
@{
    ViewBag.CurrentPageName = TodoAppPageNames.Tasks; //The menu item will be active for this page.
}
<h1>Task List</h1>
<div class="row">
    <div class="col-md-12">
        <ul>
            @foreach (var todo in Model.Items)
            {
                <li>@todo.Text (@todo.AssignedUserUserName)</li>
            }
        </ul>
    </div>
</div>